html, body{
  height: 100%;
  margin: 0;
  padding:0
}


header {
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid #e5e4e2;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  margin-left: 6px;
  text-decoration: none;
  color: #353935;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: blue;
  color: white;
}

.hero {
  text-align: center;
  padding: 2rem;
}
.features{
 display: flex;
 flex-direction: row;
 margin: auto;
 max-width: 1000px;
 text-align: left;;
}
.box{
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
}
.footer {
  text-align: center;
  background-color: lightgrey;
  padding: 1rem;
  border-bottom: 1px solid #e5e4e2;
  margin-top: auto;
}
